@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f1f7fb;
}

.dark body {
  background-color: #131f24;
  color: #dce6ec;
}

#root {
  min-height: 100vh;
}

@font-face {
  font-family: 'DINRounded';
  src: url('./assets/font/DINRoundPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINRounded';
  src: url('./assets/font/DINRoundPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINRounded';
  src: url('./assets/font/DINRoundPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINRounded';
  src: url('./assets/font/DINRoundPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINRounded';
  src: url('./assets/font/DINRoundPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}